
---
Language: Cpp
UseTab: AlignWithSpaces
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 88
IndentCaseLabels: false
SortIncludes: Never
# SeparateDefinitionBlocks: Always
ReferenceAlignment: Right
PointerAlignment: Right
# PackConstructorInitializers: BinPack
NamespaceIndentation: All
LambdaBodyIndentation: Signature
EmptyLineBeforeAccessModifier: Always
BreakStringLiterals: true
BreakConstructorInitializers: BeforeColon
BreakBeforeTernaryOperators: true
BreakBeforeConceptDeclarations: true
BreakBeforeBinaryOperators: true
BinPackParameters: true
# InsertBraces: false -- clang-format 15
AlwaysBreakTemplateDeclarations: true
AlwaysBreakBeforeMultilineStrings: false
AllowShortLoopsOnASingleLine: true
AllowShortLambdasOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AlignTrailingComments: true
AlignOperands: AlignAfterOperator
AlignEscapedNewlines: Left
AlignConsecutiveDeclarations: Consecutive
AlignArrayOfStructures: Right
AlignAfterOpenBracket: Align
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeParens: Never
